<html lang="en">
<head>

	<meta charset="utf-8">
  <title>NoSql_App</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="mailbox">
    <header>
			<form method="post" action="/search">
	      <h3>
	        Mail box
	        	<span class="count"><%= emails.length %></span>
						<input type="hidden" name="typebox" value="sent">
						<input type="text" name="search_word" placeholder="Search word">
						<button> Search </button>
	      </h3>
			</form>
  </header>

<ul>
		<% emails.forEach(function(email) { %>
   <li>
		 <p>
	  <a>	Sender: <%= email.sender %> </a>
	   </p>
		 <p>
   	<a>	Folder: <%= email.folder %> </a>
    </p>
		<p>
	 <a>	Date: <%= email.date %> </a>
	 </p>
<p>
<a>	Text: <%= email.text %> </a>
</p>
   </li>
	<% }); %>



</ul>
</body>
</head>
</html>
